/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2014, 9:24:50 PM
    Author     : Retko
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* setup body */
body {
    line-height: 1.1; /*odstup mezi radky*/
    font-family: Georgia, serif;
    font-size: 14pt;
    background: linear-gradient( #bebfbf, #eeeeee );    
}

p {
    text-align:justify;
    padding: 0px 15px;
    font-size: 90%;
}


.separateParagraphs p{
    padding: 10px 15px;
}

/* reasonable starting margins */
p, h1, h2, h3, h4, h5, h6, ol, ul, li { margin: 5pt; }
li { margin-left: 2em; }

/* setup headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

a {
    color: black;
}

#header, #menubar, #lmargin, #rmargin  {
    display: none
}



footer {
    clear: both; /* bez toho by to bylo pod mainbody; takle to zabere celou sirku containeru*/
    height: 50px; 
    position: relative;
    width: 100%;
    bottom: 0;    
}

footer div {
    float: right;
    padding: 20px 10px;
}

.intext {
    padding-left: 50px;
}

.tucne {
    font-weight: 700;
    font-size: 90%;
}

.uvod {
    font-style: italic;
    text-indent:25px;
    padding-top: 15px;
}

#rozestupy p, h5 {
    padding-top: 15px;
}
h5 {
    padding: 25px 15px 0px;
    text-decoration: underline;    
}


